<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.feup.apm.stockclient">

    <application
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".StockQuoteClientActivity"
            android:launchMode="singleTop" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>    
            <intent-filter>    
                <action android:name="org.feup.apm.stockclientactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>