<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:8701/Rest/" behaviorConfiguration="RestBehavior" binding="webHttpBinding" contract="RestService.IRestService" name="RestEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>
