<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="RestService.RestService">
        <endpoint address="http://localhost:8701/Rest/" behaviorConfiguration="RestBehavior" binding="webHttpBinding" name="RestEndpoint" contract="RestService.IRestService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

</configuration>
